<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>One Time Password</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <label for="userId">User ID</label>
        <input type="text" name="userId">
        <input type="button" value="Generate">

        <label for="token">Token</label>
        <input type="text" name="token">
        <input type="button" value="Validate">
    </div>
</body>
</html>