body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-otp {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-otp .form-control {
  position: relative;
  padding: 10px;
  font-size: 16px;
}

.form-otp .form-control:focus {
  z-index: 2;
}